/public_html/videos/smokeBomb.mp4
/public_html/videos/civilianCasualties.mp4
/public_html/videos/coupDeSemonce.mp4
/public_html/videos/Blitzkrieg.mp4
/public_html/videos/RaidaBrien.mp4
/public_html/videos/jusAdBellum.mp4
/public_html/videos/apercuDeLaProchaineChronique.mp4
/public_html/videos/notice.mp4
/public_html/videos/airStrike.mp4
/public_html/videos/mercenaries.mp4
/public_html/videos/warChild.mp4
/public_html/videos/airbombs.mp4