@media (min-width: 768px) {
    .navbar-header {
        float: right;
    }
}
div.navbar-header .navbar-brand {
    float: right;
}

header {
    background-color: white;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0px 5px 5px #888888;
}

header nav.navbar {
    border-radius: 0px;
    margin-bottom: 5px;
}

div.logo {
    text-align: center;
}

nav.navbar.navbar-default.menu {
    margin-top: 162px;
}

div.fence {
    margin-bottom: 20px;
}
div.fence img {
    width: 100%;
}

div p, main ul {
    font-size: 16px;
}

.panel-title {
    text-align: center;
}

address {
    font-size: 20px;
    text-align: center;
}